@import '../../../styles/variables.scss';

.btn {
    border-radius: 10px;
    background-color: $messageBgColor;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;

    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: #5f8aff;
        }
    }

    &:disabled {
        color: #8C8C8C;
        background-color: #dedede;

        @media (any-hover: hover) {
            &:hover {
                color: #8C8C8C;
                background-color: #F8F8F7;
            }
        }
    }
}